<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Computer Shop</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background-color: bisque;
        }
        h1{
            font-style: italic;
            color: chocolate;
        }
        ul{
            display: flex;
            justify-content: center;
            background-color: brown;
        }
        li{
            list-style: none;
            padding: 10px;
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        
        }
        ul li a:hover{
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <h1>
        Welcome to CBSHOP
    </h1>
    <ul>
        <li><a href="./../admin/registration.ejs">Admin Registration</a></li>
        <li><a href="./../customer/registration.ejs">Customer Registration</a></li>
        <li><a href="./../admin/login.ejs">Admin Login</a></li>
        <li><a href="./../customer/login.ejs">Customer Login</a></li>
    </ul>  
    <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo autem officiis modi voluptas nam ab fugiat distinctio vitae 
        doloremque magnam atque nesciunt minima voluptate, animi quis ipsum dicta sed cum.</P>
    <img src="./img/shop1.jpg" alt="shop photo 1">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quidem sed cum omnis saepe tenetur suscipit aspernatur excepturi ex. 
        Incidunt consectetur quam quis asperiores molestiae neque inventore at commodi in?</p>
    <img src="./img/shop2.jpg" alt="shop photo 2">
</body>
</html>